

    <location [lon]="device.location.longitude"
              [lat]="device.location.latitude"
              [name]="device.Name"
              [width]="240"
              [height]="100">
    </location>

    <div class="card-block" (click)="selectDevice(device)">


        <h6 class="card-title">{{device.Name}}</h6>


        <p class="card-text"><small class="text-muted">{{device.deviceDisplayName}}</small></p>

        <div class="batt">
            <battery [batteryLevel]="device.BatteryLevel"></battery>
        </div>

    </div>

