header {
    margin-top: 5em;
    text-align: center;
}
.beepbell {
    font-size: 9rem;
    color: #EC971F;
    transition: font-size 500ms, position 500ms, transform 500ms;

}
.jumbotron {
    background-color: rgba(236, 238, 239, 0.33);
    padding-top: 2rem;
    padding-bottom: 1rem;
    height: 300px;
    border-bottom: 1px solid #E5E5E5;
}
.beepytitle {
    color: #9E9E9E;
}

.beepytitle strong {
    color: #F0AD4E;

}

.beepbell h1 {
    margin-bottom: 15px;
}
.ng-valid[required] {
    border-bottom: 1px solid #00a600;
}

.ng-invalid {
    border-bottom: 1px solid #DC423E;
}
input[type="text"] {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}
input[type="password"] {
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
}

.alert-danger {
    font-size: 14px;
    position: absolute;
    top: -56px;
    width: 95%;
}

.batt {
    text-align:center;
    width: 50px;
}

.battery {
    width: 100%;
    height: 10px;
    border: 1px solid #238E23;
    margin-top: 6px;
    border-radius: 1px;
}

.battery.low {
    border: 1px solid #A94442;
    color: #A94442;
}


.battery.unknown {
    border-color: grey;
}

.battery .level-label {
    font-size: 0.5rem;
}

.battery .level {
    background-color: #5cb85c;
    height: 100%;
}
.battery .level.low {
    background-color: red;
}

device-item {
    width: 100%;
}

.card-block:hover {
    background-color: rgba(243, 245, 246, 0.47);
    cursor:pointer;
}
.card-block:active {
    background-color: rgba(216, 218, 219, 0.47);
}

location {
    width: 100%;
    height: 100px;
}

message-input {
    position: absolute;
    top: -1.3rem;
    left: 20rem;
    opacity:0;
    animation: fadeInMessage 300ms 1.5s ease-out;
    animation-fill-mode: forwards;
    text-align: left;
}

.messagelabel {
    font-size: 0.9rem;
    color: #B9B9B9;
}

message-input input[type="text"] { // overriding for now
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 3rem;
    font-size: 1.4rem;
    color: #818a91;
    border: 1px solid #ccc;
    margin-top:0.5rem;
}

@keyframes shrinkHeader {
    to { height : 100px;}
}

.header-container {
    position:relative;
    text-align:center;
}

.smallerHeader {
    height: 100px;
    transition: height 400ms 500ms ease-out;
}

.smallerBell {
    animation: fadeOutBell 500ms ease-out, moveBell 1ms 500ms ease-out, fadeInBell 1s 900ms ease-out,
        ringBell 1s 1.2s ease-out;
    animation-fill-mode: forwards
}

@keyframes fadeOutBell {
    from { opacity: 1}
    to { opacity: 0}
}

@keyframes moveBell {
    to {  position: absolute;  font-size: 4rem; top: -1rem}
}

@keyframes moveTitle {
    to {  position: absolute; margin-top: -0.6rem;}
}

@keyframes ringBell {
    20% {
        -webkit-transform: rotate3d(0, 0, 1, 15deg);
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        -webkit-transform: rotate3d(0, 0, 1, -10deg);
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        -webkit-transform: rotate3d(0, 0, 1, 5deg);
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        -webkit-transform: rotate3d(0, 0, 1, -5deg);
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        -webkit-transform: rotate3d(0, 0, 1, 0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

@keyframes fadeInMessage {
    to { opacity: 1}
}

.ringBell {
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: ringBell;
    animation-name: ringBell;
}

@keyframes fadeInBell {
    from { opacity: 0}
    to { opacity: 1}
}

.movedTitle {
    animation: fadeOutBell 300ms 200ms ease-out, moveTitle 1ms 500ms ease-out, fadeInBell 1s 1s ease-out;
    animation-fill-mode: forwards;
    left: 6rem;
}

.hideStrap {
    animation: fadeOutBell 200ms 300ms ease-out;
    animation-fill-mode: forwards;
}

/* http://tobiasahlin.com/spinkit/ */
.sk-cube-grid {
    width: 90px;
    height: 90px;
    margin: 35px auto;
    color: green;
}

.sk-cube-grid .sk-cube {
    width: 33%;
    height: 33%;
    background-color: #EC971F;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
    animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}
.sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0s;
    animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}

@keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
        -webkit-transform: scale3D(1, 1, 1);
        transform: scale3D(1, 1, 1);
    } 35% {
          -webkit-transform: scale3D(0, 0, 1);
          transform: scale3D(0, 0, 1);
      }
}

.location-container {
    text-align:right;
}

.map {
    position: relative;
}
.map .popover {
    background-color: #eceeef;
    border-radius: 5px;
    border-color: #ddd;
    bottom: -200px;
    color: #000000;
    font-size: 12px;
    font-family: 'Helvetica', sans-serif;
    width: 604px;
    z-index: 4;
    top: -320px;
    height: 300px;
    left: -252px;
    max-width: 617px;
    display:none;
}

.map .popover:before {
    border-top: 7px solid #ccc;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    bottom: -10px;
    content: '';
    display: block;
    left: 50%;
    margin-left: -7px;
    position: absolute;
}
.map:hover .popover {
    display: block;
    -webkit-animation: fade-in .3s linear 1, move-up .3s linear 1;
    -moz-animation: fade-in .3s linear 1, move-up .3s linear 1;
    -ms-animation: fade-in .3s linear 1, move-up .3s linear 1;
}

@-webkit-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-moz-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-ms-keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@-webkit-keyframes move-up {
    from {
        bottom: 30px;
    }
    to {
        bottom: 42px;
    }
}
@-moz-keyframes move-up {
    from {
        bottom: 30px;
    }
    to {
        bottom: 42px;
    }
}
@-ms-keyframes move-up {
    from {
        bottom: 30px;
    }
    to {
        bottom: 42px;
    }
}


@keyframes showCardDeck {
    to { opacity: 1}
}

@keyframes refreshSpin {
    0% {
        -webkit-transform: rotate3d(0, 0, 1,0deg);
        transform: rotate3d(0, 0, 1, 0deg);
    }
    100% {
        -webkit-transform: rotate3d(0, 0, 1, 360deg);
        transform: rotate3d(0, 0, 1, 360deg);
    }
}

.card-deck {
    margin: 0 -1.25rem;
}


.refresh-icon {
    font-size: 5rem;
    color: rgba(92, 184, 92, 0.47);
    animation: refreshSpin 1s linear infinite;
    animation-fill-mode: forwards
}

.refresh-container {
    text-align:center;
}

.card-deck .card {
    display: table-cell;
    width: auto;
    vertical-align: top;
    float: left;
    margin-left: .75rem;
}

@keyframes beepHeader {
    from { background-color: #F0AD4E; }
    to {  background-color: rgba(236, 238, 239, 0.33);}
}

@keyframes beepTitle {
    from { color: white; }
    to { color: #F0AD4E; }
}

@keyframes beepLabel {
    from { color: white; }
    to { color: #B9B9B9; }
}

@keyframes pulseBell {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }

    10%, 20% {
        -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }

    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }

    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }

    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}


.beepingHeader {
    animation: beepHeader 1s linear;
    animation-fill-mode: forwards;
}

.beepingHeader h1 strong {
    animation: beepTitle 1s linear;
    animation-fill-mode: forwards;
}

.beepingHeader span.messagelabel {
    animation: beepLabel 1s linear;
    animation-fill-mode: forwards;
}

.beepingOverlay {   }

.bigBell {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
    background-color: #f1c40f;
    text-align: center;
    z-index: 13; /* keep on top of other elements on the page */
    box-shadow: 0 0 0 9999px rgba(100,100,100,0.1);
    width: 17rem;
    height: 18rem;
    border: 7px solid black;
    border-radius: 13px;
    font-size: 15rem;
    line-height: 9rem;
    padding-top: 1rem;
    color: black;
    background-color: rgba(237, 255, 0, 0.41);
    opacity:1;
}

.bigBrokeBell {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -150px;
    margin-top: -100px;
    background-color: #ff2d4b;
    text-align: center;
    z-index: 13;
    box-shadow: 0 0 0 9999px rgba(100,100,100,0.1);
    width: 17rem;
    height: 18rem;
    border: 7px solid #920300;
    border-radius: 13px;
    font-size: 15rem;
    line-height: 9rem;
    padding-top: 1rem;
    color: #920300;
    background-color: rgba(255, 79, 84, 0.41);
    opacity: 1;
}

@keyframes fadeBeep {
    from { opacity: 1; }
    to {  opacity:0}
}

.bigBell.active {
    animation: fadeBeep 200ms 1s linear;
    animation-fill-mode: forwards;
}

.bigBrokeBell.active {
    animation: fadeBeep 200ms 2.8s linear;
    animation-fill-mode: forwards;
}

.bigBell i, .bigBrokeBell i {
    animation: pulseBell 500ms 500ms ease-in-out 1
}

.beepfail {
    font-size: 2rem;
    font-weight: bold;
    margin-top: -1rem;
}

@keyframes showThrottle {
    from { right: -19rem; }
    to { right: 0; }
}

@keyframes closeThrottle {
    from { right:0; }
    to { right: -19rem; }
}

.throttle {
    position: fixed;
    top: 0;
    background-color: rgba(236, 238, 239, 0.78);
    width: 19rem;
    height: 100px;
    border-bottom: 1px solid #ddd;
    color: #C7C7C7;
    padding-top: 1rem;
    padding-left: 1rem;
}

.throttle.closed {
    right: 0;
    animation: closeThrottle 200ms ease-out;
    animation-fill-mode: forwards;
}

.throttle.opened {
    right: -19rem;
    animation: showThrottle 200ms ease-in;
    animation-fill-mode: forwards;
}

.throttle i {
    position:absolute;
    font-size: 4rem;

}

.throttle p {
    margin-left: 4.5rem;
    margin-top: -6px;
    color: #A2A2A2;
}

body {
    position:relative;
}
