<div class="col-md-1 batt">
    <battery [batteryLevel]="device.BatteryLevel"></battery>
</div>
<div class="col-md-8">
    <strong>{{device.Name}}</strong><br/>
    <em>
        <small class="text-muted">
            {{device.deviceDisplayName}}
        </small>
    </em>
</div>
<div class="col-md-3 location-container">
    <location [lon]="device.location.longitude"
              [lat]="device.location.latitude"
              [name]="device.Name"
              [width]="600"
              [height]="300">
    </location>
</div>

