<app-header [shrunk]="true" (messageEvent)="messageChanged($event)"></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card-deck-wrapper">
                <div class="card-deck">
                    <div class="card" *ngFor="#device of devices">
                        <device-item [device]="device" (click)="selectDevice(device)"></device-item>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
