<section class="jumbotron text-xs-center">
    <div class="container">

        <h1 class="beepbell">
            <i class="fa fa-bell-o"></i>
        </h1>
        <h1>go<strong>beep</strong>me</h1>

        <p class="lead text-muted">
            Tired of losing your iPhone? </p>
    </div>
</section>

<div class="text-muted">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <router-outlet></router-outlet>

            </div>
        </div>
    </div>
</div>
